[Unit]
Description=alfred the slack bot

[Service]
TimeoutStopSec=5s
User=alfred
Environment=ALFRED_DEBUG=true
Environment=ALFRED_SLACK_TOKEN=
Environment=CODINGLOVE_CHANNEL="#codinglove"
Environment=CODINGLOVE_POSTS_DB=/data/alfred/codinglove_posts.bolt
Environment=CODINGLOVE_DURATION=25m
ExecStart=/opt/alfred

[Install]
WantedBy=multi-user.target

